{% extends "base.html" %}
{% load static %}

{% block content %}

<form id="connect_form" action="{% url 'vielth:chat' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="channel_name" id="channel_name" value="{{ channel_name }}"
           placeholder="Название канала">
    <input type="submit" id="connect_btn" value="Подключиться">
</form>
    <button id="save_channel_name" name="save_channel_name" onclick="save_channel_name()">Сохранить название канала</button>

{% endblock %}

{% block js_at_end %}
    <script src="{% static 'js/starting_page.js' %}"></script>
{% endblock %}